.section-heading h6 {
    color: rgb(0, 0, 0);
}

.btn-warning {
    color: rgb(0, 0, 0);
}

.info-table {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 10px 0px;

    ul {
        padding: 15px;
    }

    li {
        display: block;
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;

        img {
            float: left;
            margin-right: 25px;
        }

        h4 {
            font-size: 22px;
            font-weight: 600;

            span {
                font-size: 15px;
                color: #aaa;
                font-weight: 400;
            }
        }
    }

    li:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }


}

.featured .left-image a {
    display: inline-block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    background-color: #f35525;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: -22px;
    bottom: 0px;
}

.video {
    background-image: url(../../../assets/img/truck_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    position: relative;


    h2,
    h6 {
        color: #fff;
    }
}

.video-content {
    margin-top: -240px;


    .video-frame {
        position: relative;
        border-radius: 10px;
        z-index: 2;

        a {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(42px, -26px);
            width: 52px;
            height: 52px;
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            line-height: 52px;
            color: #f35525;
            outline: 15px solid rgba(254, 85, 37, 0.5);
            font-size: 18px;
        }

        video {
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        }
    }
}

.content-center {
    margin-top: 35vh;
}